asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.3.2
colorama==0.4.6
dj-database-url==2.3.0
Django==5.0.1
django-bootstrap-modal-forms==2.2.0
django-cors-headers==4.4.0
django-phonenumber-field==7.0.0
django-storages==1.13.2
dropbox==11.36.2
gunicorn==21.2.0
httplib2==0.22.0
idna==3.6
numpy==1.26.4
opencv-python==4.6.0.66
phonenumbers==8.13.0
Pillow==10.2.0
ply==3.11
psycopg2-binary==2.9.9
PyJWT==2.11.0
pyparsing==3.1.2
pytz==2024.1
qrcode==7.4.2
weasyprint==59.0
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
stone==3.3.1
stripe==10.0.0
sweetify==2.3.1
twilio==9.10.0
tzdata==2024.1
urllib3==2.2.2
whitenoise==6.7.0
python-dotenv==1.2.1
python-dateutil==2.8.2
