{% extends 'main/layout.html' %}
{% block body %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-primary font-weight-bolder">Send Payment Reminders</h1><br>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Send SMS Reminders</h6>
        </div>
        <div class="card-body">
            <p>Click the button below to send payment reminders to all customers with outstanding bills.</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Send Reminders</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
