{% extends 'main/layout.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-primary font-weight-bolder">Usage Analytics</h1><br>

    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Water Consumption History</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Key Statistics</h6>
                </div>
                <div class="card-body">
                    <p><strong>Average Monthly Usage:</strong> {{ average_usage }} cu.m</p>
                    <p><strong>Highest Consumption:</strong> {{ highest_consumption }} cu.m in {{ highest_consumption_month }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var chartLabels = {{ labels|safe }};
    var chartData = {{ data|safe }};
</script>

{% endblock %}
